[submodule "backend-ros/src/authoring-msgs"]
	path = backend-ros/src/authoring-msgs
	url = https://github.com/emmanuel-senft/authoring-msgs.git
[submodule "backend-ros/src/interactive_marker_proxy_noetic"]
	path = backend-ros/src/interactive_marker_proxy_noetic
	url = https://github.com/schromya/interactive_marker_proxy_noetic.git
