[submodule "panda-primitives"]
	path = panda-primitives
	url = https://github.com/Wisc-HCI/panda-primitives.git
[submodule "panda-primitives-control"]
	path = panda-primitives-control
	url = https://github.com/Wisc-HCI/panda-primitives-control.git
[submodule "dexterity-interface/src/authoring-msgs"]
	path = dexterity-interface/src/authoring-msgs
	url = https://github.com/emmanuel-senft/authoring-msgs.git
[submodule "dexterity-interface/src/panda-ros-msgs"]
	path = dexterity-interface/src/panda-ros-msgs
	url = https://github.com/emmanuel-senft/panda-ros-msgs.git
[submodule "dexterity-interface/src/interface/scripts/assistive_robotics_thesis"]
	path = dexterity-interface/src/interface/scripts/assistive_robotics_thesis
	url = https://github.com/rusmilov/assistive_robotics_thesis.git
[submodule "dexterity-interface/src/interactive_marker_proxy_noetic"]
	path = dexterity-interface/src/interactive_marker_proxy_noetic
	url = https://github.com/schromya/interactive_marker_proxy_noetic.git
[submodule "dexterity-interface/src/panda-primitives"]
	path = dexterity-interface/src/panda-primitives
	url = https://github.com/Wisc-HCI/panda-primitives.git
