<robot name="rectangle">
    <link name="rectangle_link">
    <visual>
        <geometry>
        <box size="1.0 0.5 0.1"/>  <!-- Length, Width, Height -->
        </geometry>
    </visual>
    <collision>
        <geometry>
        <box size="1.0 0.5 0.1"/>  <!-- Length, Width, Height -->
        </geometry>
    </collision>
    </link>
</robot>