<launch>
    <node pkg="interface" type="llm_executor.py" name="llm_executor" output="screen" />
    <node pkg="interface" type="llm_handler.py" name="llm_handler" output="screen" />
  <!-- Load the PR2 URDF -->
    <!-- <param name="robot_description" textfile="$(find interface)/urdfs/panda.urdf" />

    <param name="use_gui" value="true" />
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" /> -->
    <node pkg="tf2_web_republisher" type="tf2_web_republisher" name="tf2_web_republisher" />
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />

    
    <include file="$(find authoring)/launch/all.launch">
      <arg name="only_virtual" value="true" />
    </include>

    <!-- <node pkg="authoring" type="all.launch" name="authoring"/> -->


    <!-- <node name="basic_controls" pkg="interface" type="basic_controls" output="screen" />

    <node name="proxy" pkg="interactive_marker_proxy" type="proxy" output="screen">
        <remap from="topic_ns" to="/basic_controls" />
        <remap from="target_frame" to="/rotating_frame" />
    </node> -->

    <!-- <node pkg="interface" type="llm_handler.py" name="llm_handler" output="screen"/> -->
    <!-- <node pkg="interface" type="llm_executor.py" name="llm_executor" /> -->


</launch>